.photo img {
    width: 100%;
    height: auto;
}
.photo {
    display: flex;
    padding: 10px;
    border: solid 2px lightgray;
    border-radius: 5px;
    width: 15%;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: space-between;
    
}
.container2 {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    
}
.text {
    padding: 10px;
    border: solid 2px lightgray;
    border-radius: 5px; 
}
a {
    text-decoration: none;
    color: black;
}
a span {
    color: white;
    background-color: rgba(13, 110, 253, 1);
    border-radius: 3px;
    
}
.photo img:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);

}

tr, td, th,table {
    padding: 5px;
    border: solid 1px lightgray;
}
.bas {
    background-color: rgb(229, 255, 0);
}
.moed {
    background-color: rgb(0, 255, 21);
}
.experience-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.experience-item {
    background: #f5f5f5;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    
}

.functie {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.organisatie {
    margin: 5px 0;
    font-weight: 600;
    color: #444;
}

.periode {
    margin: 0;
    font-style: italic;
    color: #666;
}

.beschrijving {
    margin-top: 10px;
    color: #333;
}